In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
salaries = pd.read_csv('salaries_data.csv')

salaries_test = pd.read_csv('testeo.csv')

In [3]:
salaries.drop(columns=['salary', 'salary_currency'], inplace=True)

salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,26005,RO,0,US,L

In [4]:
salaries['job_title'].value_counts()

Data Scientist                              121
Data Engineer                               111
Data Analyst                                 81
Machine Learning Engineer                    31
Research Scientist                           12
Data Science Manager                         12
Data Architect                                8
Machine Learning Scientist                    7
Data Analytics Manager                        7
Big Data Engineer                             7
Director of Data Science                      7
ML Engineer                                   6
Lead Data Engineer                            6
Principal Data Scientist                      6
Applied Data Scientist                        5
Data Engineering Manager                      5
Data Science Consultant                       5
AI Scientist                                  5
BI Data Analyst                               5
Head of Data                                  4
Business Data Analyst                         4
Computer Vision Engineer                      4
Analytics Engineer                            3
Lead Data Scientist                           3
Applied Machine Learning Scientist            3
Cloud Data Engineer                           2
Machine Learning Infrastructure Engineer      2
Lead Data Analyst                             2
Data Analytics Engineer                       2
Director of Data Engineering                  2
ETL Developer                                 2
Head of Data Science                          2
Machine Learning Developer                    2
Data Science Engineer                         2
Machine Learning Manager                      1
Staff Data Scientist                          1
Head of Machine Learning                      1
Finance Data Analyst                          1
Financial Data Analyst                        1
Data Analytics Lead                           1
3D Computer Vision Researcher                 1
Principal Data Analyst                        1
Product Data Analyst                          1
Big Data Architect                            1
Data Specialist                               1
Lead Machine Learning Engineer                1
Marketing Data Analyst                        1
Computer Vision Software Engineer             1
Name: job_title, dtype: int64

In [5]:
#cambiar el nombre de los puestos de trabajo por Data los que contengan la palabra Data
salaries['job_title'] = salaries['job_title'].apply(lambda x: 'Data' if 'Data' in x else x)

In [6]:
salaries['job_title'].value_counts()

Data                                        418
Machine Learning Engineer                    31
Research Scientist                           12
Machine Learning Scientist                    7
ML Engineer                                   6
AI Scientist                                  5
Computer Vision Engineer                      4
Analytics Engineer                            3
Applied Machine Learning Scientist            3
Machine Learning Infrastructure Engineer      2
Machine Learning Developer                    2
ETL Developer                                 2
Head of Machine Learning                      1
Machine Learning Manager                      1
Lead Machine Learning Engineer                1
3D Computer Vision Researcher                 1
Computer Vision Software Engineer             1
Name: job_title, dtype: int64

In [7]:
#cambiar el nombre de los puestos de trabajo por Machine Learning los que contengas la palabra Machine Learning o ML
salaries['job_title'] = salaries['job_title'].apply(lambda x: 'Machine Learning' if 'Machine Learning' in x or 'ML' in x else x)

In [8]:
salaries['job_title'].value_counts()

Data                                 418
Machine Learning                      54
Research Scientist                    12
AI Scientist                           5
Computer Vision Engineer               4
Analytics Engineer                     3
ETL Developer                          2
3D Computer Vision Researcher          1
Computer Vision Software Engineer      1
Name: job_title, dtype: int64

In [9]:
#cambiar el nombre de los puestos de trabajo por Computer Vision los que contengan la palabra Computer Vision
salaries['job_title'] = salaries['job_title'].apply(lambda x: 'Computer Vision' if 'Computer Vision' in x else x)

In [10]:
salaries['job_title'].value_counts()

Data                  418
Machine Learning       54
Research Scientist     12
Computer Vision         6
AI Scientist            5
Analytics Engineer      3
ETL Developer           2
Name: job_title, dtype: int64

In [11]:
#añadir en Data los que se llaman Analytics Engineer y ETL developer
salaries['job_title'] = salaries['job_title'].apply(lambda x: 'Data' if 'Analytics Engineer' in x or 'ETL Developer' in x else x)

In [12]:
salaries['job_title'].value_counts()

Data                  423
Machine Learning       54
Research Scientist     12
Computer Vision         6
AI Scientist            5
Name: job_title, dtype: int64

In [13]:
#Cambiar el nombre de los puestos de trabajo de Data por Data Science
salaries['job_title'] = salaries['job_title'].apply(lambda x: 'Data Science' if 'Data' in x else x)

In [14]:
salaries['job_title'].value_counts()

Data Science          423
Machine Learning       54
Research Scientist     12
Computer Vision         6
AI Scientist            5
Name: job_title, dtype: int64

In [15]:
#cambiar el nombre de los puestos de trabajo por Data los que contengan la palabra Data
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'Data' if 'Data' in x else x)
#cambiar el nombre de los puestos de trabajo por Machine Learning los que contengas la palabra Machine Learning o ML
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'Machine Learning' if 'Machine Learning' in x or 'ML' in x else x)
#cambiar el nombre de los puestos de trabajo por Computer Vision los que contengan la palabra Computer Vision
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'Computer Vision' if 'Computer Vision' in x else x)
#añadir en Data los que se llaman Analytics Engineer y ETL developer
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'Data' if 'Analytics Engineer' in x or 'ETL Developer' in x else x)
#Cambiar el nombre de los puestos de trabajo de Data por Data Science
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'Data Science' if 'Data' in x else x)
#Cambiar el nombre del puesto de trabajo de NPL engineer por AI Scientist
salaries_test['job_title'] = salaries_test['job_title'].apply(lambda x: 'AI Scientist' if 'NLP Engineer' in x else x)

In [16]:
salaries_test['job_title'].value_counts()

Data Science          82
Machine Learning      14
Computer Vision        4
Research Scientist     4
AI Scientist           3
Name: job_title, dtype: int64

In [17]:
#hacer get dummies de la columna job_title en salaries
salaries = pd.get_dummies(salaries, columns=['job_title'], drop_first=True)
#hacer get dummies de la columna job_title en salaries_test
salaries_test = pd.get_dummies(salaries_test, columns=['job_title'], drop_first=True)

In [18]:
salaries_test.head()

,work_year,experience_level,employment_type,employee_residence,remote_ratio,company_location,company_size,job_title_Computer Vision,job_title_Data Science,job_title_Machine Learning,job_title_Research Scientist
0,2020,SE,FT,JP,0,JP,S,0,0,1,0
1,2020,MI,FT,US,100,US,L,0,1,0,0
2,2020,MI,FT,US,100,US,L,0,1,0,0
3,2020,MI,FT,CN,0,CN,M,0,0,1,0
4,2020,MI,FT,IN,100,IN,L,0,1,0,0

In [19]:
salaries.head()

,work_year,experience_level,employment_type,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_title_Computer Vision,job_title_Data Science,job_title_Machine Learning,job_title_Research Scientist
0,2022,SE,FT,140250,US,100,US,M,0,1,0,0
1,2022,SE,FT,135000,US,100,US,M,0,1,0,0
2,2021,MI,FT,100000,US,100,US,M,0,1,0,0
3,2021,MI,CT,270000,US,100,US,L,0,0,1,0
4,2021,MI,FT,26005,RO,0,US,L,0,1,0,0

In [20]:
#hacer label encoder de las columnas experience_level, employment_type, employee_residence, company_location y company_size en salaries y salaries_test
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
salaries['experience_level'] = le.fit_transform(salaries['experience_level'])
salaries['employment_type'] = le.fit_transform(salaries['employment_type'])
salaries['employee_residence'] = le.fit_transform(salaries['employee_residence'])
salaries['company_location'] = le.fit_transform(salaries['company_location'])
salaries['company_size'] = le.fit_transform(salaries['company_size'])
salaries_test['experience_level'] = le.fit_transform(salaries_test['experience_level'])
salaries_test['employment_type'] = le.fit_transform(salaries_test['employment_type'])
salaries_test['employee_residence'] = le.fit_transform(salaries_test['employee_residence'])
salaries_test['company_location'] = le.fit_transform(salaries_test['company_location'])
salaries_test['company_size'] = le.fit_transform(salaries_test['company_size'])

In [21]:
X = salaries.drop(columns=['salary_in_usd'])

y = salaries['salary_in_usd']

In [22]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 11), (100, 11), (400,), (100,))

In [23]:
from sklearn.linear_model import LinearRegression as LinReg   # alias es mio

from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet   # regularizacion L1+L2


# se inician los modelos

linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()

In [24]:
from sklearn.svm import SVR  # support vector regressor

svr=SVR()

In [25]:
from sklearn.ensemble import RandomForestRegressor as RFR  

from sklearn.tree import ExtraTreeRegressor as ETR

rfr=RFR()

etr=ETR()

In [26]:

from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from catboost import CatBoostRegressor as CTR

from lightgbm import LGBMRegressor as LGBMR


gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()

In [27]:
from lazypredict.Supervised import LazyRegressor 

lazy=LazyRegressor()

lazy

In [28]:
linreg.fit(X_train, y_train)
lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)
elastic.fit(X_train, y_train)
svr.fit(X_train, y_train)
rfr.fit(X_train, y_train)
etr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train, verbose=0)
lgbmr.fit(X_train, y_train)
lazy.fit(X_train, X_test, y_train, y_test)

100%|██████████| 42/42 [00:02<00:00, 17.92it/s]

(                               Adjusted R-Squared  R-Squared      RMSE  \
 Model
 HistGradientBoostingRegressor                0.32       0.40  48629.95
 GradientBoostingRegressor                    0.27       0.35  50546.37
 LGBMRegressor                                0.26       0.34  50643.88
 RandomForestRegressor                        0.24       0.33  51264.23
 ExtraTreesRegressor                          0.24       0.32  51437.52
 PassiveAggressiveRegressor                   0.24       0.32  51496.72
 XGBRegressor                                 0.23       0.32  51582.84
 BaggingRegressor                             0.21       0.30  52363.33
 HuberRegressor                               0.21       0.30  52377.03
 ElasticNet                                   0.18       0.27  53484.62
 KNeighborsRegressor                          0.18       0.27  53495.39
 BayesianRidge                                0.17       0.26  53765.42
 LarsCV                                       0.17       0.26  53831.03
 LassoLarsCV                                  0.17       0.26  53831.03
 TweedieRegressor                             0.17       0.26  53849.56
 LassoCV                                      0.17       0.26  53861.15
 LassoLarsIC                                  0.16       0.26  53894.91
 SGDRegressor                                 0.16       0.26  53979.99
 RidgeCV                                      0.16       0.26  53987.49
 GammaRegressor                               0.16       0.25  54055.82
 LassoLars                                    0.16       0.25  54134.56
 Ridge                                        0.16       0.25  54143.29
 OrthogonalMatchingPursuit                    0.16       0.25  54164.02
 Lasso                                        0.16       0.25  54170.97
 Lars                                         0.16       0.25  54172.92
 LinearRegression                             0.16       0.25  54172.92
 TransformedTargetRegressor                   0.16       0.25  54172.92
 OrthogonalMatchingPursuitCV                  0.14       0.23  54817.46
 AdaBoostRegressor                            0.12       0.22  55362.70
 PoissonRegressor                             0.11       0.21  55722.68
 ExtraTreeRegressor                           0.02       0.13  58366.81
 ElasticNetCV                                -0.09       0.03  61477.77
 DecisionTreeRegressor                       -0.10       0.02  61810.46
 NuSVR                                       -0.13      -0.00  62588.83
 DummyRegressor                              -0.13      -0.00  62674.87
 QuantileRegressor                           -0.14      -0.02  63040.21
 SVR                                         -0.14      -0.02  63054.73
 RANSACRegressor                             -1.41      -1.14  91560.38
 GaussianProcessRegressor                    -3.23      -2.76 121302.01
 KernelRidge                                 -3.29      -2.82 122218.57
 LinearSVR                                   -3.57      -3.06 126076.52
 MLPRegressor                                -3.59      -3.08 126370.09

                                Time Taken
 Model
 HistGradientBoostingRegressor        0.15
 GradientBoostingRegressor            0.03
 LGBMRegressor                        0.22
 RandomForestRegressor                0.10
 ExtraTreesRegressor                  0.08
 PassiveAggressiveRegressor           0.02
 XGBRegressor                         0.25
 BaggingRegressor                     0.02
 HuberRegressor                       0.01
 ElasticNet                           0.00
 KNeighborsRegressor                  0.01
 BayesianRidge                        0.01
 LarsCV                               0.01
 LassoLarsCV                          0.01
 TweedieRegressor                     0.01
 LassoCV                              0.04
 LassoLarsIC                          0.01
 SGDRegressor                         0.01
 RidgeCV                              0.00
 GammaRegressor                       0.01
 LassoLars                            0.01
 Ridge                                0.00
 OrthogonalMatchingPursuit            0.00
 Lasso                                0.00
 Lars                                 0.01
 LinearRegression                     0.00
 TransformedTargetRegressor           0.00
 OrthogonalMatchingPursuitCV          0.01
 AdaBoostRegressor                    0.02
 PoissonRegressor                     0.01
 ExtraTreeRegressor                   0.00
 ElasticNetCV                         0.03
 DecisionTreeRegressor                0.00
 NuSVR                                0.01
 DummyRegressor                       0.00
 QuantileRegressor                    0.95
 SVR                                  0.02
 RANSACRegressor                      0.03
 GaussianProcessRegressor             0.01
 KernelRidge                          0.01
 LinearSVR                            0.00
 MLPRegressor                         0.20  ,
                                Adjusted R-Squared  R-Squared      RMSE  \
 Model
 HistGradientBoostingRegressor                0.32       0.40  48629.95
 GradientBoostingRegressor                    0.27       0.35  50546.37
 LGBMRegressor                                0.26       0.34  50643.88
 RandomForestRegressor                        0.24       0.33  51264.23
 ExtraTreesRegressor                          0.24       0.32  51437.52
 PassiveAggressiveRegressor                   0.24       0.32  51496.72
 XGBRegressor                                 0.23       0.32  51582.84
 BaggingRegressor                             0.21       0.30  52363.33
 HuberRegressor                               0.21       0.30  52377.03
 ElasticNet                                   0.18       0.27  53484.62
 KNeighborsRegressor                          0.18       0.27  53495.39
 BayesianRidge                                0.17       0.26  53765.42
 LarsCV                                       0.17       0.26  53831.03
 LassoLarsCV                                  0.17       0.26  53831.03
 TweedieRegressor                             0.17       0.26  53849.56
 LassoCV                                      0.17       0.26  53861.15
 LassoLarsIC                                  0.16       0.26  53894.91
 SGDRegressor                                 0.16       0.26  53979.99
 RidgeCV                                      0.16       0.26  53987.49
 GammaRegressor                               0.16       0.25  54055.82
 LassoLars                                    0.16       0.25  54134.56
 Ridge                                        0.16       0.25  54143.29
 OrthogonalMatchingPursuit                    0.16       0.25  54164.02
 Lasso                                        0.16       0.25  54170.97
 Lars                                         0.16       0.25  54172.92
 LinearRegression                             0.16       0.25  54172.92
 TransformedTargetRegressor                   0.16       0.25  54172.92
 OrthogonalMatchingPursuitCV                  0.14       0.23  54817.46
 AdaBoostRegressor                            0.12       0.22  55362.70
 PoissonRegressor                             0.11       0.21  55722.68
 ExtraTreeRegressor                           0.02       0.13  58366.81
 ElasticNetCV                                -0.09       0.03  61477.77
 DecisionTreeRegressor                       -0.10       0.02  61810.46
 NuSVR                                       -0.13      -0.00  62588.83
 DummyRegressor                              -0.13      -0.00  62674.87
 QuantileRegressor                           -0.14      -0.02  63040.21
 SVR                                         -0.14      -0.02  63054.73
 RANSACRegressor                             -1.41      -1.14  91560.38
 GaussianProcessRegressor                    -3.23      -2.76 121302.01
 KernelRidge                                 -3.29      -2.82 122218.57
 LinearSVR                                   -3.57      -3.06 126076.52
 MLPRegressor                                -3.59      -3.08 126370.09

                                Time Taken
 Model
 HistGradientBoostingRegressor        0.15
 GradientBoostingRegressor            0.03
 LGBMRegressor                        0.22
 RandomForestRegressor                0.10
 ExtraTreesRegressor                  0.08
 PassiveAggressiveRegressor           0.02
 XGBRegressor                         0.25
 BaggingRegressor                     0.02
 HuberRegressor                       0.01
 ElasticNet                           0.00
 KNeighborsRegressor                  0.01
 BayesianRidge                        0.01
 LarsCV                               0.01
 LassoLarsCV                          0.01
 TweedieRegressor                     0.01
 LassoCV                              0.04
 LassoLarsIC                          0.01
 SGDRegressor                         0.01
 RidgeCV                              0.00
 GammaRegressor                       0.01
 LassoLars                            0.01
 Ridge                                0.00
 OrthogonalMatchingPursuit            0.00
 Lasso                                0.00
 Lars                                 0.01
 LinearRegression                     0.00
 TransformedTargetRegressor           0.00
 OrthogonalMatchingPursuitCV          0.01
 AdaBoostRegressor                    0.02
 PoissonRegressor                     0.01
 ExtraTreeRegressor                   0.00
 ElasticNetCV                         0.03
 DecisionTreeRegressor                0.00
 NuSVR                                0.01
 DummyRegressor                       0.00
 QuantileRegressor                    0.95
 SVR                                  0.02
 RANSACRegressor                      0.03
 GaussianProcessRegressor             0.01
 KernelRidge                          0.01
 LinearSVR                            0.00
 MLPRegressor                         0.20  )

In [29]:
#hacer el modelo  HistGradientBoostingRegressor  de sklearn
from sklearn.ensemble import HistGradientBoostingRegressor as HGBR
hgb=HGBR()
hgb.fit(X_train, y_train)
#predecir con el modelo HistGradientBoostingRegressor
y_pred_hgb = hgb.predict(X_test)
#calcular el mse con el modelo HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error as mse
mse(y_test, y_pred_hgb, squared=False)

48514.38526543821

In [30]:
#reentrear el modelo HistGradientBoostingRegressor con todos los datos
hgb.fit(X, y)
#predecir con el modelo HistGradientBoostingRegressor con los datos de test
y_pred_hgb_test = hgb.predict(salaries_test)
#calcular el mse con el modelo HistGradientBoostingRegressor
mse(y_test, y_pred_hgb, squared=False)

48514.38526543821

In [31]:
df = pd.DataFrame({'salary_in_usd': y_pred_hgb_test})
df.to_csv('competi.csv', index=True, index_label='id')
df

     salary_in_usd
0         78534.10
1         40038.00
2         40038.00
3        101032.25
4         42303.21
..             ...
102      120534.63
103      120534.63
104      120534.63
105       66683.73
106      104823.55

[107 rows x 1 columns]