In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importamos los datos
df = pd.read_csv('../data/salaries_data.csv')

In [2]:
df.head()
#voy a eliminar la columna salary, y salary_urrency, porque no me aportan nada
df.drop(['salary', 'salary_currency'], axis=1, inplace=True)

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,26005,RO,0,US,L

In [4]:
df.shape

(500, 9)

In [5]:
df.work_year.unique()

array([2022, 2021, 2020])

In [6]:
#los años los voy a poner en nivel 1, 2 o 3 dependiendo de si es 2022, 2021 o 2020, porque no me aportan nada los años exactos
df['work_year'] = df['work_year'].apply(lambda x: 1 if x == 2022 else 2 if x == 2021 else 3)

In [7]:
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,1,SE,FT,Data Engineer,140250,US,100,US,M
1,1,SE,FT,Data Engineer,135000,US,100,US,M
2,2,MI,FT,BI Data Analyst,100000,US,100,US,M
3,2,MI,CT,ML Engineer,270000,US,100,US,L
4,2,MI,FT,Data Engineer,26005,RO,0,US,L

In [8]:
df.experience_level.unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [9]:
#la columna experience_level la voy a cambiar por 1, 2, 3 o 4 dependiendo de si es junior, senior o experto, que corresponde a SE MI, EN y EX
#df['experience_level'] = df['experience_level'].apply(lambda x: 1 if x == 'SE' else 2 if x == 'MI' else 3 if x == 'EN' else 4)

In [10]:
df.employment_type.unique()

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

In [11]:
df.job_title.unique()

array(['Data Engineer', 'BI Data Analyst', 'ML Engineer',
       'Machine Learning Scientist', 'Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Engineering Manager', 'Data Analytics Manager',
       'Big Data Engineer', 'Research Scientist',
       'Machine Learning Developer', 'Computer Vision Engineer',
       'AI Scientist', 'Machine Learning Manager', 'Lead Data Scientist',
       'Director of Data Science', '3D Computer Vision Researcher',
       'Data Specialist', 'Applied Data Scientist',
       'Data Science Engineer', 'Head of Data', 'Analytics Engineer',
       'ETL Developer', 'Marketing Data Analyst', 'Data Architect',
       'Data Science Consultant', 'Principal Data Analyst',
       'Head of Data Science', 'Lead Data Engineer',
       'Data Science Manager', 'Applied Machine Learning Scientist',
       'Lead Data Analyst', 'Cloud Data Engineer',
       'Lead Machine Learning Engineer',
       'Machine Learning Infrastructure Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Business Data Analyst',
       'Director of Data Engineering', 'Data Analytics Lead',
       'Financial Data Analyst', 'Finance Data Analyst',
       'Head of Machine Learning', 'Staff Data Scientist',
       'Data Analytics Engineer', 'Computer Vision Software Engineer'],
      dtype=object)

In [12]:
#con esta columna vamos a crear una función que haga lo siguiente: 
#si tiene la palabra "ml" o "machine learning", que sea "ml"
#si tiene la palabra "anayst" que sea "analyst"
#si tiene la palabra engineer que sea "engineer"
#si tiene la palabra scientist que sea "scientist"
#y si no tienen ninguno de estos, que sea "other"
def job_title(x):
    if 'ml' in x.lower() or 'machine learning' in x.lower():
        return 'ml'
    elif 'analyst' in x.lower():
        return 'analyst'
    elif 'engineer' in x.lower():
        return 'engineer'
    elif 'scientist' in x.lower():
        return 'scientist'
    else:
        return 'other'
#aplicamos la función en la columna job_title con un lambda
df['job_title'] = df['job_title'].apply(lambda x: job_title(x))

In [13]:
df.job_title.unique()

array(['engineer', 'analyst', 'ml', 'scientist', 'other'], dtype=object)

In [14]:
df.employee_residence.unique()

array(['US', 'RO', 'FR', 'GR', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'PT', 'IE', 'AE', 'IT', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH',
       'CL', 'JE', 'TR', 'NZ', 'UA', 'AU', 'NG', 'BG', 'HK', 'EE', 'CZ',
       'RU', 'PR', 'AT', 'BR', 'DZ', 'IR', 'NL', 'RS', 'HU', 'PL', 'HN',
       'MY', 'BO', 'MT', 'LU', 'SG'], dtype=object)

In [15]:
df.company_location.unique()

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'AS', 'IE', 'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CL',
       'CN', 'DK', 'TR', 'NZ', 'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT',
       'BR', 'DZ', 'IR', 'NL', 'HU', 'PT', 'HN', 'MT', 'RO', 'SG'],
      dtype=object)

In [16]:
#considero que la columna de employee_residence no es determinante porque lo determinante es que sea en remoto o no. La voy a eliminar
df.drop(['employee_residence'], axis=1, inplace=True)

In [17]:
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,remote_ratio,company_location,company_size
0,1,SE,FT,engineer,140250,100,US,M
1,1,SE,FT,engineer,135000,100,US,M
2,2,MI,FT,analyst,100000,100,US,M
3,2,MI,CT,ml,270000,100,US,L
4,2,MI,FT,engineer,26005,0,US,L

In [18]:
df.company_size.unique()

array(['M', 'L', 'S'], dtype=object)

In [19]:
#voy a contar los valores dentro de company_location
df.company_location.value_counts()

US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64

In [20]:
#todos los valores que tengan un recuento menor que 10 en el value count, los voy a poner en "other"

df.company_location.value_counts().head(8)

US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
Name: company_location, dtype: int64

In [21]:
#df.company_location = df.company_location.apply(lambda x: 'other' if x not in ["US","GB","CA","DE","IN","FR","ES", "GR"] else x)

In [22]:
df.company_location.value_counts()

US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64

In [23]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary_in_usd', 'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [24]:
"""from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyRegressor
from sklearn.utils import shuffle

X = df['work_year', 'experience_level', 'employment_type', 'job_title',
    'remote_ratio', 'company_location', 'company_size']
y= df.salary_in_usd

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.5,random_state =123)

clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

print(models)"""
#ahora le voy a aplicar a todas las columnas menos a salary_in_usd un one hot encoding
df = pd.get_dummies(df, columns=['work_year', 'experience_level', 'employment_type', 'job_title',
    'remote_ratio', 'company_location', 'company_size'], drop_first=True)

In [25]:
dftest =  pd.read_csv('../data/testeo.csv')
dftest.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,US,100,US,L
2,2020,MI,FT,Data Analyst,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,IN,100,IN,L

In [26]:
#voy a hacer sobre df_test lo mismo que he hecho sobre df
dftest['work_year'] = dftest['work_year'].apply(lambda x: 1 if x == 2022 else 2 if x == 2021 else 3)
dftest['job_title'] = dftest['job_title'].apply(lambda x: job_title(x))
dftest.drop(['employee_residence'], axis=1, inplace=True)
#dftest.company_location = dftest.company_location.apply(lambda x: 'other' if x not in ["US","GB","CA","DE","IN","FR","ES", "GR"] else x)
dftest.head()

,work_year,experience_level,employment_type,job_title,remote_ratio,company_location,company_size
0,3,SE,FT,ml,0,JP,S
1,3,MI,FT,analyst,100,US,L
2,3,MI,FT,analyst,100,US,L
3,3,MI,FT,ml,0,CN,M
4,3,MI,FT,analyst,100,IN,L

In [27]:
#le voy a aplicar a las columnas un one hot encoder
dftest = pd.get_dummies(dftest, columns=['work_year', 'experience_level', 'employment_type', 'job_title', 'remote_ratio', 'company_location', 'company_size'], drop_first=True)

In [28]:
#ahora voy a aplicaar un modelo predictivo en df para ver si puedo predecir el salario en usd
#voy a utilizar la libreria lazy predict
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyRegressor
from sklearn.utils import shuffle
#primero, voy a crear las variables X e y
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora, voy a dividir el dataset en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2,random_state =42)
#ahora, voy a aplicar el modelo predictivo
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)
#y ahora, voy a ver los resultados
print(models)

100%|██████████| 29/29 [00:23<00:00,  1.25it/s]

                             Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
BernoulliNB                      0.03               0.02    None      0.01
GaussianNB                       0.03               0.02    None      0.04
NearestCentroid                  0.03               0.02    None      0.04
LogisticRegression               0.02               0.02    None      0.02
SVC                              0.02               0.02    None      0.01
RandomForestClassifier           0.02               0.02    None      0.02
KNeighborsClassifier             0.02               0.02    None      0.02
AdaBoostClassifier               0.03               0.01    None      0.00
SGDClassifier                    0.01               0.01    None      0.01
RidgeClassifierCV                0.02               0.01    None      0.02
RidgeClassifier                  0.02               0.01    None      0.02
Perceptron                       0.01               0.01    None      0.01
PassiveAggressiveClassifier      0.01               0.01    None      0.01
LinearDiscriminantAnalysis       0.01               0.01    None      0.00
DummyClassifier                  0.03               0.01    None      0.00
CalibratedClassifierCV           0.03               0.01    None      0.01
LinearSVC                        0.01               0.01    None      0.01
BaggingClassifier                0.01               0.01    None      0.01
DecisionTreeClassifier           0.01               0.01    None      0.01
LabelSpreading                   0.00               0.00    None      0.00
LabelPropagation                 0.00               0.00    None      0.00
ExtraTreesClassifier             0.00               0.00    None      0.00
ExtraTreeClassifier              0.00               0.00    None      0.00
LGBMClassifier                   0.00               0.00    None      0.00

                             Time Taken
Model
BernoulliNB                        0.01
GaussianNB                         0.03
NearestCentroid                    0.02
LogisticRegression                 0.33
SVC                                0.21
RandomForestClassifier             0.25
KNeighborsClassifier               0.01
AdaBoostClassifier                 0.18
SGDClassifier                      0.25
RidgeClassifierCV                  0.02
RidgeClassifier                    0.01
Perceptron                         0.19
PassiveAggressiveClassifier        0.27
LinearDiscriminantAnalysis         0.02
DummyClassifier                    0.01
CalibratedClassifierCV            13.60
LinearSVC                          3.99
BaggingClassifier                  0.05
DecisionTreeClassifier             0.01
LabelSpreading                     0.05
LabelPropagation                   0.02
ExtraTreesClassifier               0.23
ExtraTreeClassifier                0.01
LGBMClassifier                     3.42

In [29]:
#vamos a usar el lazyregressor para ver si podemos predecir el salario en usd
#primero, voy a crear las variables X e y
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora, voy a dividir el dataset en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2,random_state =42)
#ahora, voy a aplicar el modelo predictivo que devuelva siempre numeros positivos
reg = LazyRegressor(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = reg.fit(X_train, X_test, y_train, y_test)
#y ahora, voy a ver los resultados
print(models)

100%|██████████| 42/42 [00:02<00:00, 16.16it/s]

                                         Adjusted R-Squared  \
Model
LGBMRegressor                                         -0.40
HistGradientBoostingRegressor                         -0.40
GradientBoostingRegressor                             -0.41
ElasticNet                                            -0.43
BayesianRidge                                         -0.44
LassoLarsIC                                           -0.45
GammaRegressor                                        -0.46
RandomForestRegressor                                 -0.47
PassiveAggressiveRegressor                            -0.48
LarsCV                                                -0.49
LassoLarsCV                                           -0.49
LassoCV                                               -0.50
TweedieRegressor                                      -0.50
XGBRegressor                                          -0.51
RidgeCV                                               -0.53
HuberRegressor                                        -0.56
LassoLars                                             -0.56
Ridge                                                 -0.56
Lasso                                                 -0.57
Lars                                                  -0.57
SGDRegressor                                          -0.57
PoissonRegressor                                      -0.59
BaggingRegressor                                      -0.59
OrthogonalMatchingPursuit                             -0.60
OrthogonalMatchingPursuitCV                           -0.60
ExtraTreesRegressor                                   -0.89
ExtraTreeRegressor                                    -0.92
DecisionTreeRegressor                                 -0.95
KNeighborsRegressor                                   -1.10
AdaBoostRegressor                                     -1.15
ElasticNetCV                                          -1.32
NuSVR                                                 -1.42
DummyRegressor                                        -1.42
QuantileRegressor                                     -1.45
SVR                                                   -1.45
GaussianProcessRegressor                              -2.98
KernelRidge                                           -8.12
LinearSVR                                             -8.81
MLPRegressor                                          -8.84
RANSACRegressor                 -42269765551797793980416.00
TransformedTargetRegressor    -4280019329229518983397376.00
LinearRegression              -4280019329229518983397376.00

                                                  R-Squared  \
Model
LGBMRegressor                                          0.42
HistGradientBoostingRegressor                          0.42
GradientBoostingRegressor                              0.42
ElasticNet                                             0.41
BayesianRidge                                          0.41
LassoLarsIC                                            0.40
GammaRegressor                                         0.40
RandomForestRegressor                                  0.39
PassiveAggressiveRegressor                             0.39
LarsCV                                                 0.38
LassoLarsCV                                            0.38
LassoCV                                                0.38
TweedieRegressor                                       0.38
XGBRegressor                                           0.37
RidgeCV                                                0.37
HuberRegressor                                         0.36
LassoLars                                              0.35
Ridge                                                  0.35
Lasso                                                  0.35
Lars                                                   0.35
SGDRegressor                                           0.35
PoissonRegressor                                       0.34
BaggingRegressor                                       0.34
OrthogonalMatchingPursuit                              0.34
OrthogonalMatchingPursuitCV                            0.34
ExtraTreesRegressor                                    0.22
ExtraTreeRegressor                                     0.20
DecisionTreeRegressor                                  0.19
KNeighborsRegressor                                    0.13
AdaBoostRegressor                                      0.11
ElasticNetCV                                           0.04
NuSVR                                                 -0.00
DummyRegressor                                        -0.00
QuantileRegressor                                     -0.02
SVR                                                   -0.02
GaussianProcessRegressor                              -0.65
KernelRidge                                           -2.78
LinearSVR                                             -3.06
MLPRegressor                                          -3.08
RANSACRegressor                 -17505660481047573299200.00
TransformedTargetRegressor    -1772533257559699837943808.00
LinearRegression              -1772533257559699837943808.00

                                              RMSE  Time Taken
Model
LGBMRegressor                             47587.75        0.04
HistGradientBoostingRegressor             47587.75        0.18
GradientBoostingRegressor                 47778.38        0.05
ElasticNet                                48205.86        0.01
BayesianRidge                             48236.75        0.01
LassoLarsIC                               48446.27        0.02
GammaRegressor                            48576.49        0.01
RandomForestRegressor                     48860.70        0.16
PassiveAggressiveRegressor                48993.07        0.09
LarsCV                                    49054.92        0.06
LassoLarsCV                               49054.92        0.05
LassoCV                                   49232.14        0.07
TweedieRegressor                          49366.56        0.01
XGBRegressor                              49502.29        0.14
RidgeCV                                   49755.14        0.01
HuberRegressor                            50220.65        0.04
LassoLars                                 50303.88        0.02
Ridge                                     50358.81        0.01
Lasso                                     50390.28        0.02
Lars                                      50394.76        0.02
SGDRegressor                              50503.08        0.01
PoissonRegressor                          50699.21        0.02
BaggingRegressor                          50727.25        0.03
OrthogonalMatchingPursuit                 50840.94        0.01
OrthogonalMatchingPursuitCV               50840.94        0.02
ExtraTreesRegressor                       55307.10        0.15
ExtraTreeRegressor                        55818.55        0.01
DecisionTreeRegressor                     56220.40        0.01
KNeighborsRegressor                       58341.40        0.02
AdaBoostRegressor                         59090.01        0.03
ElasticNetCV                              61261.34        0.06
NuSVR                                     62590.63        0.03
DummyRegressor                            62674.87        0.01
QuantileRegressor                         63041.01        0.74
SVR                                       63057.63        0.02
GaussianProcessRegressor                  80292.89        0.03
KernelRidge                              121568.46        0.01
LinearSVR                                126076.52        0.01
MLPRegressor                             126297.18        0.25
RANSACRegressor                8276255465230478.00        0.08
TransformedTargetRegressor    83280214164118016.00        0.01
LinearRegression              83280214164118016.00        0.01

In [30]:
#voy a importar LGBMRegressor  
from lightgbm import LGBMRegressor
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora, no voy a diviir el dataset en train y test, voy a entrenar el modelo con todo el dataset
#ahora, voy a aplicar el modelo predictivo
model2 = LGBMRegressor()
model2.fit(X, y)

LGBMRegressor()

In [31]:
#una vez decidido que PassiveAggressiveRegressor es el modelo que mejor predice, voy a entrenarlo con todo el dataset
#voy a importar passiveaggressiveregressor
from sklearn.linear_model import PassiveAggressiveRegressor
#primero, voy a crear las variables X e y
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora, no voy a diviir el dataset en train y test, voy a entrenar el modelo con todo el dataset
#ahora, voy a aplicar el modelo predictivo
model = PassiveAggressiveRegressor()
model.fit(X, y)

PassiveAggressiveRegressor()

In [32]:
#ahora vamos a aplicar el modelo a df_test
#model.predict(dftest)

In [33]:
#X has 23 features, but PassiveAggressiveRegressor is expecting 24 features as input.
#voy a ver las columnas de df y dftest
df.columns

Index(['salary_in_usd', 'work_year_2', 'work_year_3', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'employment_type_FL',
       'employment_type_FT', 'employment_type_PT', 'job_title_engineer',
       'job_title_ml', 'job_title_other', 'job_title_scientist',
       'remote_ratio_50', 'remote_ratio_100', 'company_location_AS',
       'company_location_AT', 'company_location_AU', 'company_location_BE',
       'company_location_BR', 'company_location_CA', 'company_location_CH',
       'company_location_CL', 'company_location_CN', 'company_location_CZ',
       'company_location_DE', 'company_location_DK', 'company_location_DZ',
       'company_location_EE', 'company_location_ES', 'company_location_FR',
       'company_location_GB', 'company_location_GR', 'company_location_HN',
       'company_location_HU', 'company_location_IE', 'company_location_IN',
       'company_location_IR', 'company_location_JP', 'company_location_KE',
       'company_location_LU', 'company_location_MD', 'company_location_MT',
       'company_location_MX', 'company_location_NG', 'company_location_NL',
       'company_location_NZ', 'company_location_PK', 'company_location_PL',
       'company_location_PT', 'company_location_RO', 'company_location_SG',
       'company_location_SI', 'company_location_TR', 'company_location_UA',
       'company_location_US', 'company_location_VN', 'company_size_M',
       'company_size_S'],
      dtype='object')

In [34]:
dftest.columns

Index(['work_year_2', 'work_year_3', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'employment_type_FT',
       'employment_type_PT', 'job_title_engineer', 'job_title_ml',
       'job_title_other', 'job_title_scientist', 'remote_ratio_50',
       'remote_ratio_100', 'company_location_AU', 'company_location_BR',
       'company_location_CA', 'company_location_CN', 'company_location_CO',
       'company_location_CZ', 'company_location_DE', 'company_location_DK',
       'company_location_ES', 'company_location_FR', 'company_location_GB',
       'company_location_GR', 'company_location_HR', 'company_location_IL',
       'company_location_IN', 'company_location_IQ', 'company_location_IT',
       'company_location_JP', 'company_location_MX', 'company_location_MY',
       'company_location_PL', 'company_location_RU', 'company_location_US',
       'company_size_M', 'company_size_S'],
      dtype='object')

In [35]:
#voy a locallizar la columna que no está en dftest
df.columns.difference(dftest.columns)

Index(['company_location_AS', 'company_location_AT', 'company_location_BE',
       'company_location_CH', 'company_location_CL', 'company_location_DZ',
       'company_location_EE', 'company_location_HN', 'company_location_HU',
       'company_location_IE', 'company_location_IR', 'company_location_KE',
       'company_location_LU', 'company_location_MD', 'company_location_MT',
       'company_location_NG', 'company_location_NL', 'company_location_NZ',
       'company_location_PK', 'company_location_PT', 'company_location_RO',
       'company_location_SG', 'company_location_SI', 'company_location_TR',
       'company_location_UA', 'company_location_VN', 'employment_type_FL',
       'salary_in_usd'],
      dtype='object')

In [36]:
#vamos a crear las columnas que faltan en dftest respecto a df
def create_missing_columns(df, dftest):
    missing_cols = set(df.columns) - set(dftest.columns)
    for c in missing_cols:
        dftest[c] = 0
    dftest = dftest[df.columns]
    return dftest

dftest = create_missing_columns(df, dftest)
#elimino la columna salary_in_usd
dftest.drop(['salary_in_usd'], axis=1, inplace=True)

In [37]:
model.predict(dftest)

array([ 78361.16589666, 112552.0947416 , 112552.0947416 ,  58083.54642121,
        46929.18276048,  74701.18646949, 150879.63583859,  59879.2789403 ,
       111658.09984847, 148558.29907872,  57458.76817961, 151534.2157524 ,
       116189.0992186 ,  30496.74531566,  85213.7861401 ,  58985.28404718,
        93933.09783764, 114196.8420457 ,  59409.59844619, 101267.26166103,
       105137.17322784,  60228.48074806,  70898.59403005, 134411.55339649,
        32635.30961664,  47671.88953045,  91062.95868702, 134119.51416759,
        59200.02256979,  88002.54657706,  72580.10216515, 110361.82255526,
        68841.49296372,  53344.90902089,  54524.22566045,  59854.60248359,
       135237.53282366,  41701.06619634,  59209.43782806, 140488.79765115,
        20327.9270171 ,  44738.91057414, 104482.59331403, 142810.13441102,
        99753.57893046, 130055.82255526,  99428.9775476 ,  58383.45840089,
       110361.82255526,  51702.52178424, 113337.73922894,  64436.48940556,
       109122.27865857, 115491.56214213,  97086.69316702,  61892.24941892,
       144104.85450746, 121636.29392002, 132069.26901591, 141783.51774758,
       132069.26901591, 139883.5987408 , 141783.51774758, 133092.89750415,
       133918.87693132, 150316.57383669, 150316.57383669, 141783.51774758,
       123378.64877247,  62718.22884609, 109122.27865857, 147860.76200225,
        90234.35703702,  58741.35600979,  95623.85002113, 106800.94189869,
        58673.75684616,  70582.86966236, 102965.92240825, 122223.38631061,
        40154.40142934,  58267.23117555, 108674.11808849, 150836.67867593,
       105777.31341046,  64213.58617879,  64213.58617879, 144104.85450746,
       141783.51774758,  37235.60712268,  53305.39250493,  71747.23117555,
        97509.28296083,  68814.21168511, 141783.51774758, 120055.12366623,
        55563.29454057,  72193.31412648,  51467.1083915 , 133092.89750415,
       141783.51774758, 132069.26901591, 132069.26901591, 150316.57383669,
       144104.85450746,  47632.08890106, 123378.64877247])

In [38]:
model2.predict(dftest)

array([ 81621.71765061, 113761.89365385, 113761.89365385,  42722.17776961,
        27492.54048119,  79903.18941258, 261222.45981772,  43017.68061775,
       107662.67024446, 176110.33773568,  55090.89312831, 205724.03317874,
       119019.33994772,  55090.89312831,  88537.68181278,  61915.10035165,
       107372.70757704, 141003.59195748,  47012.17056682,  94194.16257739,
       116568.46783782,  69876.00791053,  72335.44346962, 125306.80241517,
        32005.14318776,  48357.82934336,  49670.70077986, 146296.03471663,
        38660.99154096, 140355.70608768, 131503.47569838, 103175.01865705,
       143012.17747892,  54063.5271988 ,  43476.64890908,  48120.39239939,
       178132.75740459,  16165.39119585,  70189.90301972, 169944.05996633,
        37540.15377865,  22493.29871109, 164044.75724883, 192863.37577611,
        72710.63162734, 211516.07842261,  99527.17020875,  54964.63272609,
       103175.01865705,  52918.30462765, 114873.7507671 ,  57787.48979316,
       125944.76906828, 143763.7513052 , 102811.89499496,  79059.12087138,
       160211.17462347, 182596.55648586, 112615.94157435, 137035.35370212,
       112615.94157435, 227521.70840187, 137035.35370212, 139348.95966213,
       172620.27923888, 169795.39269866, 169795.39269866, 137035.35370212,
       111091.20216043,  69315.39419252, 125944.76906828, 176039.07490141,
        51068.57412465,  70501.56219153,  79648.44987002, 118103.03526863,
        70501.56219153,  88595.46965646,  98846.4686797 , 109804.08748983,
        41697.00717517,  60879.09279145,  99805.98157868, 147578.35248286,
       117876.57979673,  74543.17835019,  74543.17835019, 160211.17462347,
       137035.35370212,  16016.71206392,  38314.21397915,  60879.09279145,
        72227.92182859,  42212.02417481, 137035.35370212, 146880.11260258,
         8385.7643559 ,  71835.10308782,  66805.47175681, 139348.95966213,
       137035.35370212, 112615.94157435, 112615.94157435, 169795.39269866,
       160211.17462347,  57467.11669425, 111091.20216043])

In [39]:
muestra = pd.read_csv('../data/muestra.csv')

In [40]:
muestra2 = pd.read_csv('../data/muestra.csv')

In [41]:
muestra["salary_in_usd"] = model.predict(dftest)

In [42]:
muestra.head()

   id  salary_in_usd
0   0       78361.17
1   1      112552.09
2   2      112552.09
3   3       58083.55
4   4       46929.18

In [43]:
#muestra.to_csv('../data/muestra2.csv', index=False)

In [44]:
#ahora voy a convertir los numeros negativos de muestra a positivos multiplicandolos por -1 donde sea negativo

In [45]:
#muestra.to_csv('../data/muestra3.csv', index=False)

In [46]:
muestra.to_csv('../data/muestra4.csv', index=False)

In [47]:
muestra2["salary_in_usd"] = model.predict(dftest)

In [48]:
muestra2.to_csv('../data/muestra5.csv', index=False)

In [49]:
#voy a importar LGBMRegressor  
from lightgbm import LGBMRegressor
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora dividimos para hacer el train y el test
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2,random_state =42)
#ahora, voy a aplicar el modelo predictivo
model3 = LGBMRegressor()
model3.fit(X_train, y_train)
#y ahora, voy a ver los resultados
print(model3.score(X_test, y_test))

0.42123651897733916

In [50]:
#vamos a usar el lazyregressor para ver si podemos predecir el salario en usd
#primero, voy a crear las variables X e y
X = df.drop(['salary_in_usd'], axis=1)
y= df.salary_in_usd
#ahora, voy a dividir el dataset en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2,random_state =42)
#ahora, voy a aplicar el modelo predictivo que devuelva siempre numeros positivos
reg = LazyRegressor(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = reg.fit(X_train, X_test, y_train, y_test)
#y ahora, voy a ver los resultados
print(models)

100%|██████████| 42/42 [00:02<00:00, 14.44it/s]

                                         Adjusted R-Squared  \
Model
LGBMRegressor                                         -0.40
HistGradientBoostingRegressor                         -0.40
GradientBoostingRegressor                             -0.41
ElasticNet                                            -0.43
BayesianRidge                                         -0.44
LassoLarsIC                                           -0.45
GammaRegressor                                        -0.46
RandomForestRegressor                                 -0.47
PassiveAggressiveRegressor                            -0.48
LarsCV                                                -0.49
LassoLarsCV                                           -0.49
LassoCV                                               -0.50
TweedieRegressor                                      -0.50
XGBRegressor                                          -0.51
RidgeCV                                               -0.53
HuberRegressor                                        -0.56
LassoLars                                             -0.56
Ridge                                                 -0.56
Lasso                                                 -0.57
Lars                                                  -0.57
SGDRegressor                                          -0.57
PoissonRegressor                                      -0.59
BaggingRegressor                                      -0.59
OrthogonalMatchingPursuit                             -0.60
OrthogonalMatchingPursuitCV                           -0.60
ExtraTreesRegressor                                   -0.89
ExtraTreeRegressor                                    -0.92
DecisionTreeRegressor                                 -0.95
KNeighborsRegressor                                   -1.10
AdaBoostRegressor                                     -1.15
ElasticNetCV                                          -1.32
NuSVR                                                 -1.42
DummyRegressor                                        -1.42
QuantileRegressor                                     -1.45
SVR                                                   -1.45
GaussianProcessRegressor                              -2.98
KernelRidge                                           -8.12
LinearSVR                                             -8.81
MLPRegressor                                          -8.84
RANSACRegressor                 -42269765551797793980416.00
TransformedTargetRegressor    -4280019329229518983397376.00
LinearRegression              -4280019329229518983397376.00

                                                  R-Squared  \
Model
LGBMRegressor                                          0.42
HistGradientBoostingRegressor                          0.42
GradientBoostingRegressor                              0.42
ElasticNet                                             0.41
BayesianRidge                                          0.41
LassoLarsIC                                            0.40
GammaRegressor                                         0.40
RandomForestRegressor                                  0.39
PassiveAggressiveRegressor                             0.39
LarsCV                                                 0.38
LassoLarsCV                                            0.38
LassoCV                                                0.38
TweedieRegressor                                       0.38
XGBRegressor                                           0.37
RidgeCV                                                0.37
HuberRegressor                                         0.36
LassoLars                                              0.35
Ridge                                                  0.35
Lasso                                                  0.35
Lars                                                   0.35
SGDRegressor                                           0.35
PoissonRegressor                                       0.34
BaggingRegressor                                       0.34
OrthogonalMatchingPursuit                              0.34
OrthogonalMatchingPursuitCV                            0.34
ExtraTreesRegressor                                    0.22
ExtraTreeRegressor                                     0.20
DecisionTreeRegressor                                  0.19
KNeighborsRegressor                                    0.13
AdaBoostRegressor                                      0.11
ElasticNetCV                                           0.04
NuSVR                                                 -0.00
DummyRegressor                                        -0.00
QuantileRegressor                                     -0.02
SVR                                                   -0.02
GaussianProcessRegressor                              -0.65
KernelRidge                                           -2.78
LinearSVR                                             -3.06
MLPRegressor                                          -3.08
RANSACRegressor                 -17505660481047573299200.00
TransformedTargetRegressor    -1772533257559699837943808.00
LinearRegression              -1772533257559699837943808.00

                                              RMSE  Time Taken
Model
LGBMRegressor                             47587.75        0.08
HistGradientBoostingRegressor             47587.75        0.31
GradientBoostingRegressor                 47778.38        0.05
ElasticNet                                48205.86        0.01
BayesianRidge                             48236.75        0.04
LassoLarsIC                               48446.27        0.03
GammaRegressor                            48576.49        0.01
RandomForestRegressor                     48860.70        0.17
PassiveAggressiveRegressor                48993.07        0.09
LarsCV                                    49054.92        0.06
LassoLarsCV                               49054.92        0.05
LassoCV                                   49232.14        0.07
TweedieRegressor                          49366.56        0.01
XGBRegressor                              49502.29        0.15
RidgeCV                                   49755.14        0.01
HuberRegressor                            50220.65        0.03
LassoLars                                 50303.88        0.02
Ridge                                     50358.81        0.01
Lasso                                     50390.28        0.02
Lars                                      50394.76        0.02
SGDRegressor                              50503.08        0.01
PoissonRegressor                          50699.21        0.02
BaggingRegressor                          50727.25        0.05
OrthogonalMatchingPursuit                 50840.94        0.01
OrthogonalMatchingPursuitCV               50840.94        0.01
ExtraTreesRegressor                       55307.10        0.16
ExtraTreeRegressor                        55818.55        0.01
DecisionTreeRegressor                     56220.40        0.01
KNeighborsRegressor                       58341.40        0.01
AdaBoostRegressor                         59090.01        0.04
ElasticNetCV                              61261.34        0.06
NuSVR                                     62590.63        0.02
DummyRegressor                            62674.87        0.01
QuantileRegressor                         63041.01        0.78
SVR                                       63057.63        0.03
GaussianProcessRegressor                  80292.89        0.02
KernelRidge                              121568.46        0.02
LinearSVR                                126076.52        0.01
MLPRegressor                             126297.18        0.27
RANSACRegressor                8276255465230478.00        0.08
TransformedTargetRegressor    83280214164118016.00        0.01
LinearRegression              83280214164118016.00        0.01